*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main{
  display: flex;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  .card{
    text-align: center;
   img{
    border-radius: 20px;
   }
    
  }
}

